<template>
   <v-list-item>
        <v-list-item-action>
            <v-checkbox color="primary" v-model="item.IsDone" @change="markAsDone"></v-checkbox>
        </v-list-item-action>
        <v-list-item-content>
            <span :class="{'primary--text': item.IsDone}">{{ item.Title }}</span>
        </v-list-item-content>
        <v-list-item-action>
          <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on }">
                <v-icon v-on="on" @click="editItem()">edit</v-icon>
                <v-icon @click="removeItem()">delete</v-icon>
            </template>
            <v-card>
              <v-card-text>
                <v-text-field v-model="originalItem.Title"></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="cancelItem()">Close</v-btn>
                <v-btn color="primary" text @click="saveItem()">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-list-item-action>
    </v-list-item>
</template>
<script src="./todo-item.ts"></script>

