<template>
    <div>
        <v-card class="header">
            <input class="new-todo" v-model="newItemText" autofocus autocomplete="off" placeholder="What needs to be done?" @keyup.enter="addNewItem" />
        </v-card>
        <v-card class="todo-list">
            <v-progress-linear :value="selected" color="primary" height="15"></v-progress-linear>
            <v-layout align-center ma-3>
              <v-flex>
                  <span class="primary--text">{{ leftItems }} items left</span>
              </v-flex>
              <v-flex text-right>
                  <v-btn-toggle v-model="filterValue" mandatory>
                    <v-btn class="todo-list__filter-btn " text small color="primary">ALL</v-btn>
                    <v-btn class="todo-list__filter-btn " text small color="primary">ACTIVE</v-btn>
                    <v-btn class="todo-list__filter-btn " text small color="primary">COMPLETED</v-btn>
                  </v-btn-toggle>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <ul class="todo-list__items">
                <li v-for="item of filteredItems" :key="item.Id">
                    <todo-item :item="item" v-on:removeItem="deleteItem"></todo-item>
                    <v-divider></v-divider>
                </li>
            </ul>
        </v-card>
        <v-btn v-show="selectedCount" @click="clearItems()" class="unselect-btn" rounded color='primary'>Clear completed</v-btn>
    </div>
</template>
<style scoped>
  .todo-list .todo-list__filter-btn {
    border-style: none!important;
  }
  .todo-list .todo-list__items {
    list-style: none;
    padding-left: 0;
  }
  .unselect-btn {
    margin-top: 20px;
    width: 100%;
  }
  .header {
    margin-bottom: 20px;
  }
  .header .new-todo {
    padding: 16px 20px;
    font-size: 20px;
    outline: none;
  }
</style>
<script src="./list-items.ts"></script>
