<template>
  <v-app>
    <v-container fill-height>
      <v-layout align-center justify-center>
        <v-flex sm8 md5>
          <header class="header">
              <h1 class="header__caption primary--text">TODOS</h1>
          </header>
          <v-content>
            <list-items></list-items>
          </v-content>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>
<style scoped>
  .header {
    margin-bottom: 20px;
  }
  .header .header__caption {
    font-size: 70px;
    text-align: center;
    opacity: 0.5;
  }
</style>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ListItems from './components/list-items/list-items';
@Component({
  components: {
    ListItems,
  },
})
export default class App extends Vue {
  private title: string;
  constructor() {
    super();
    this.title = 'My vue app';
  }
}
</script>
